 .item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    border-radius: 8px;
    border: 10px solid var(--Black);
    background-color: var(--Gray3);
    margin:20px 0;
    padding: 10px;
}

