.rentability {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url(../../assets/images/backgrounds/invest1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.rentability .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: var(--Black);
    text-align: center;
}

.rentability .text h1 {
    text-align: center;
    color: var(--Primary);
    margin: 50px 0 20px 0;
}
.rentability .text p{
    text-align: center;
    color: var(--White);
    margin:10px;
}
.rentability .aport {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    background-color: var(--Black);
    text-align: center;
    border-radius: 6px;
    margin: 40px 0;
    box-shadow: 0px 0px 20px 5px rgba(204, 163, 84, 0.2);
}
.rentability .aport .values {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    background-color: var(--Gray3);
    text-align: center;
    border-radius: 6px 0 0 6px;
    padding: 20px 10px;

}

.rentability .aport .values button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background-color: var(--Black);
    color: var(--White);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}
.rentability .aport .values .selected {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background-color: var(--Primary);
    border-radius: 6px;
    color: var(--White);
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

.rentability .aport .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--Primary);
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.rentability .aport .result .resultValue{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--Primary);
    width: 100%;
}
.rentability .aport .result .resultValue .valueDay{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--Primary);
    width: 100%;
    padding: 10px;
    margin: 5px 5px 5px 0;
    background-color: var(--Gray3);
    border-radius: 6px;

}
.rentability .aport .result .resultValue .valueMonth {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--Primary);
    width: 100%;
    padding: 10px;
    margin: 5px 0px 5px 5px;
    background-color: var(--Gray3);
    border-radius: 6px;

}
.rentability .aport .result .resultTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--Primary);
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: var(--Gray3);
    border-radius: 6px;
}

.rentability .aport .result .resultTotal h1 {
    font-size: 3rem;
}
.rentability .aport .result .textResult{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--Primary);
    width: 100%;
    padding: 10px;
}



.rentability .aport .result .textResult p{
    text-align: left;
    font-size:12px;
}
