.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Black)
}

.topbar .top1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--Primary) ;
    height: 80px;
}

.topbar .top1 .search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    background-color: var(--White);
    border-radius: 6px;
    color: var(--Black);
    padding:5px 10px;
}
.topbar .top1 .search input{
    border:none;
    padding: 5px;
    width: 100%;
    margin: 0 10px;
}

.topbar .top1 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 300px;
}

.topbar .top1 .img a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.topbar .top1 .img img {
    height: 70px;
}

.topbar .top1 .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 300px;
}
.topbar .top1 .social .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--Primary)
}
.topbar .top1 .social .icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--White);
}