.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-image: url(../../assets/images/backgrounds/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:550px;
    border: none;
    border-bottom: 2px solid var(--Hover);
}

.welcome .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 20px;
}
.welcome .text h1 {
    color: var(--Primary);
    font-size: 45px
}

.welcome .text p{
    text-align: center;
}

.welcome .text .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}
.welcome .text .buttons a {
    background-color: var(--Primary);
    color: var(--White);
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.welcome .text .buttons a:hover {
    background-color: var(--Hover)
}
.welcome .text .buttons .select {
    background-color: var(--Hover);
    color: var(--White);
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.welcome .text .buttons .select:hover {
    background-color: var(--Primary)
}

.welcome .image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
    height:100%;
}

.welcome .image img {
    width: 85%;
}