.preRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Black);
    padding: 40px 0 60px 0;
    color: var(--White);
}

.preRegistration h1 {
    text-align: center;
    margin: 20px 0;
    color: var(--Primary);
}


.preRegistration form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--gray3);
}


.preRegistration form .bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.preRegistration form .bloco input {
    width: 100%;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid var(--White);
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
    padding: 10px;
}

.preRegistration form .bloco input::placeholder {
    color: var(--White);
    font-weight: 700;
}

.preRegistration form .bloco select {
    width: 100%;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid var(--White);
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
    padding: 10px;
}
.preRegistration form button {
    width: 60%;
    margin: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
    padding: 10px;
}
.preRegistration form button:hover {
    background-color: var(--Hover);
    cursor: pointer;
}